<div class="container px-5 px-sm-0">
  <div class="row">
    <!-- ユーザー情報およびクイズコレクション作成フォーム -->
    <%= render 'quiz_collections/new', user: @user, quiz_collection: @quiz_collection %>

    <!-- ユーザーのクイズコレクション一覧 -->
    <div class="col-md-8 offset-md-1">
      <h2>
        <%= link_to @user.name, user_path(@user.id) %> の問題集一覧
      </h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>問題集名</th>
            <th>作成日</th>
            <th>問題集ごとのExcel出力</th>
          </tr>
        </thead>
        <tbody>
          <% @user.quiz_collections.each do |collection| %>
            <tr>
              <td>
                <%= link_to collection.title, quiz_collection_path(collection.id) %>
              </td>
              <td><%= l collection.created_at, format: :short %></td>
              <td>
                <%= link_to "問題集ごとに出力", export_quiz_collection_path(collection, format: :xlsx), class: "btn btn-primary btn-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-center mt-4">
        <h4>回答者ごとの統合データ</h4>
        <%= link_to "回答者ごとに出力 (全体)", export_user_based_quiz_collections_path(format: :xlsx), class: "btn btn-info" %>
      </div>
      
      <div class="text-center mt-4">
        <h4>ラベルごとの統合データ</h4>
        <%= link_to "ラベルごとに出力 (全体)", export_label_based_quiz_collections_path(format: :xlsx), class: "btn btn-info" %>
      </div>
      
      <!-- 被験者ごとのラベル分類データ -->
      <div class="text-center mt-4">
        <h4>回答者&ラベルごとの統合データ</h4>
        <%= link_to "回答者&ラベルごとに出力 (全体)", export_user_based_with_labels_quiz_collections_path(format: :xlsx), class: "btn btn-info" %>
      </div>
    </div>
    
    
  </div>

 
</div>